body {
    background-color: hsl(217, 54%, 11%);
    font-family: outfit;
    height: 100vh;
    display: grid;
    place-items: center;
}
main .container{
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 3%;
    padding: 5px 5px 0 5px;
    box-shadow: 2px 2px hsl(209, 48%, 19%);
}
main .container img {
    width: 260px;
    border-radius: 10%;
    padding: 20px;
}
main .container h2 {
    color: white;
    padding-left: 20px;
}
main .container p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    line-height: 2;
}
main .container .date {
    padding: 15px;
    border-bottom: 1px solid  hsl(215, 32%, 27%);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
}
main .container .date i {
    margin-right: 3px;
}
main .container .date .eth {
    color: aqua;
}
main .container .date .days {
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
}
main .container .creation {
   display: flex;
}
main .container .creation p {
    margin-top: 20px;
    font-siz: 16px;
    color: hsl(215, 51%, 70%);
}
main .container .creation img{
    width: 30px;
}
main .container .creation span {
    color: white;
}
